/* Product Section */

#product,
#spare-part {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 50px;
}

#product h1,
#spare-part h1 {
    margin-bottom: 50px;
}

.products-group p {
    color: black;
}


/* Responsive Section */


/* Responsive 320px - 768px */

@media only screen and (min-width: 320px) and (max-width: 768px) {
    #product {
        padding-top: 48px;
    }
    /* oxygen saturation meter.php */
    .oxygen-name {
        display: block;
    }
    #spare-part h4 {
        text-align: center;
        margin-bottom: 25px;
    }
}


/* Responsive 769px - 1023px */

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    #product .columns .column {
        padding: 20px 80px;
    }
    #product .columns .column img {
        margin-bottom: 20px;
    }
    #spare-part h4 {
        margin-bottom: 25px;
    }
}


/* Responsive 1024px up */

@media only screen and (min-width: 1024px) {
    #product .columns .column {
        padding: 20px 150px;
    }
    #product .columns .column img {
        margin-bottom: 20px;
    }
    #spare-part .columns .column {
        padding: 40px 60px 20px 60px;
    }
}


/* Responsive 1216px - 1407px */


/* Responsive 1408px up */