/* Breadcrumb Section */
.breadcrumb {
    margin: 50px 0;
}
.breadcrumb li a {
    color: #BB8378;
    font-size: 20px;
}
/* Product Section */
#product {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
}
#product h1 {
    margin: 100px;
}
.products-group p {
    color: black;
}

/* Responsive Section */
/* Responsive 300px - 768px */
/* Responsive 769px - 1023px */
/* Responsive 1024px - 1215px */
/* Responsive 1216px - 1407px */
/* Responsive 1408px up */